<form (ngSubmit)="onSubmit(contactFrm)" [formGroup]="contactFrm">
  <h3>{{data.modalTitle}}</h3>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Name / Nombre</mat-label>
      <input matInput placeholder="Name / Nombre" formControlName="name">
      <mat-error *ngIf="formErrors.name">
        {{ formErrors.name }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Surname / Apellidos</mat-label>
      <input matInput placeholder="Surname / Apellidos" formControlName="surname">
      <mat-error *ngIf="formErrors.surname">
        {{ formErrors.surname }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>ID / Passport / DNI</mat-label>
        <input matInput placeholder="ID / Passport / DNI" formControlName="dni">
        <mat-error *ngIf="formErrors.dni">
          {{ formErrors.dni }}
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Company / Empresa</mat-label>
      <input matInput placeholder="Company / Empresa" formControlName="company">
      <mat-error *ngIf="formErrors.company">
        {{ formErrors.company }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <button type="button" mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="contactFrm.invalid">{{data.modalBtnTitle}}</button>
  </div>
</form>
