<p>VISIT FORM WORKS</p>
<form  (ngSubmit)="onSubmit(visitFrm)" [formGroup]="visitFrm">
  <h3>{{data.modalTitle}}</h3>
  <div>
      <mat-form-field appearance="outline">
      <mat-label>Motivo</mat-label>
      <input matInput placeholder="Motivo" formControlName="Motivo">
      <mat-error *ngIf="formErrors.Motivo">
        {{ formErrors.Motivo }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Duracion</mat-label>
      <input type="Duracion" matInput placeholder="Duracion" formControlName="Duracion">
      <mat-error *ngIf="formErrors.Duracion">
        {{ formErrors.Duracion }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Responsable</mat-label>
      <input type="ResponsableCatec" matInput placeholder="ResponsableCatec" formControlName="ResponsableCatec">
      <mat-error *ngIf="formErrors.ResponsableCatec">
        {{ formErrors.ResponsableCatec }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="picker" placeholder="Elige una Fecha" formControlName="Fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="formErrors.Fecha ">
      {{ formErrors.Fecha }}
    </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="picker" placeholder="Elige una Hora" formControlName="Hora">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="formErrors.Hora ">
      {{ formErrors.Hora }}
    </mat-error>
    </mat-form-field>
  </div>
  <div>
    <button type="button" mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="visitFrm.invalid">{{data.modalBtnTitle}}</button>
  </div>
  </form>
