<form  (ngSubmit)="onSubmit(visitFrm)" [formGroup]="visitFrm">
  <h3>{{data.modalTitle}}</h3>

  <div>
      <mat-form-field appearance="outline">
      <mat-label>Motivo</mat-label>
      <input matInput placeholder="motivo" formControlName="motivo">
      <mat-error *ngIf="formErrors.motivo">
        {{ formErrors.motivo }}
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Duracion</mat-label>
      <input matInput placeholder="duracion" formControlName="duracion">
      <!-- <mat-error *ngIf="formErrors.duracion">
        {{ formErrors.duracion }}
      </mat-error> -->
    </mat-form-field>
  </div>
  <!-- <div>
    <mat-form-field appearance="outline">
      <mat-label>Responsable</mat-label>
      <input matInput placeholder="responsableCatec" formControlName="responsableCatec">
      <mat-error *ngIf="formErrors.responsableCatec">
        {{ formErrors.responsableCatec }}
      </mat-error>
    </mat-form-field>
  </div> -->
  <div>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Seleccione Responsable " formControlName="responsableCatec" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="formErrors.responsableCatec">
        {{ formErrors.responsableCatec }}
      </mat-error>
    </mat-form-field>
  </div>
  <!-- <div>
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="picker1" placeholder="Elige una Fecha" formControlName="fecha">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    <mat-error *ngIf="formErrors.fecha ">
      {{ formErrors.fecha }}
    </mat-error>
    </mat-form-field>
  </div> -->
  <!-- <div>
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="picker2" placeholder="Elige una Hora" formControlName="hora">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    <mat-error *ngIf="formErrors.hora ">
      {{ formErrors.hora }}
    </mat-error>
    </mat-form-field>
  </div> -->
  <div>
    <!-- <mat-dialog-actions> -->
    <button type="button" mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="visitFrm.invalid">{{data.modalBtnTitle}}</button>
    <!-- </mat-dialog-actions> -->
  </div>
  </form>
